In [ ]:
import requests, sqlite3
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
def extract_site(web_link):  
  website = web_link
  result = requests.get(website)
  content = result.text
  soup = BeautifulSoup(content, 'lxml')
  return soup

In [ ]:
def extract(web_link, tag_1, tag_2, class_1, class_2, idx_1=None, fnd=True):
  soup = extract_site(web_link)
  if idx_1 == None:
    box = soup.find_all(tag_1, class_=class_1)
  else:
    box = soup.find_all(tag_1, class_=class_1)[idx_1]
  if fnd:
    items = box.find(tag_2, class_=class_2)
    return items
  return box

In [ ]:
def get_items(items, tag_1, tag_2, link_head, idx_1=None, idx_2=None):
  item_dict = {}
  for item in items.find(tag_1).find_all(tag_2)[idx_1:idx_2]:
    item_dict[item.get_text()] = link_head+item.find('a').get('href')
  return item_dict

In [ ]:
def extract_regions(web_link):
  regions = extract(web_link, 'div', 'div', 'content-card-teaser', 'border-left-black', 1)
  region_dict = get_items(regions, 'div', 'strong', 'https://www.cia.gov', idx_1=1)
  return region_dict

In [ ]:
def extract_countries(regions):
  country_dict = {}
  for region in regions:
    countries_grp = extract(regions[region], 'div', '', 'col-md-4', '', fnd=False)
    for countries in countries_grp:
      country_dict.update(get_items(countries, 'ul', 'li', 'https://www.cia.gov'))
  return country_dict

In [ ]:
def get_area(box):
  try:
    box[0].find_all('div')[3]
  except IndexError:
    return {'area': None, 'area_land' : None, 'area_water': None}
  area = box[0].find_all('div')[3]
  data_raw = area.find('p').get_text().split(' ')
  data_clean = []
  for data in data_raw:
    data = data.replace(',', '')
    if can_convert(data):
      data_clean.append(float(data))
  if len(data_clean) < 3:
    for i in range(3-len(data_clean)):
      data_clean.append(None)
  area_dict = {'area': data_clean[0], 'area_land' : data_clean[1], 'area_water': data_clean[2]}
  return area_dict

In [ ]:
def get_population(box):
  try:
    box[1].find_all('div')
  except IndexError:
    return {'population': None,	'population_growth': None, 'birth_rate': None, 'death_rate': None, 'migration_rate': None}
  all_pop = box[1].find_all('div')
  data = all_pop[0].find('p').get_text().split()[0].replace(',', '')
  if can_convert(data):
    pop_lst = [float(data)]
  else:
    pop_lst = [None]
  pop_details = box[1].find_all('div', class_='')
  slice_pop = pop_details[5:20]
  i = get_index(slice_pop)
  if i == None:
    for details in range(4):
      pop_lst.append(None)
  else:
    for details in pop_details[5+i:i+9]:
      data = details.find('p').get_text().split()[0].replace('%', '')
      if can_convert(data):
        pop_lst.append(float(data))
      else:
        pop_lst.append(None)
  pop_dict = {'population': pop_lst[0],	'population_growth': pop_lst[1], 'birth_rate': pop_lst[2], 'death_rate': pop_lst[3], 'migration_rate': pop_lst[4]}
  return pop_dict

In [ ]:
def get_index(lst):
  for i in range(len(lst)):
    item = lst[i].find('h3', class_='mt30')
    if item is not None and item.get_text() == 'Population growth rate':
      return i

In [ ]:
def can_convert(data):
  try:
    float(data)
  except ValueError:
    return False
  return True

In [ ]:
def extract_data(countries_dict):
  data = []
  for country in countries_dict:
    temp_dict = {}
    temp_dict['name'] = country
    soup = extract_site(countries_dict[country])
    box = soup.find_all('div', class_='free-form-content__content')[1:3]
    temp_dict.update(get_area(box))
    temp_dict.update(get_population(box))
    data.append(temp_dict)
    df = pd.DataFrame(data)
  return df

In [ ]:
if __name__ == "__main__" :
  url = "https://www.cia.gov/the-world-factbook/"
  df = extract_data(extract_countries(extract_regions(url)))

In [ ]:
df.head()

,name,area,area_land,area_water,population,population_growth,birth_rate,death_rate,migration_rate
0,Algeria,2381740.0,2381740.0,0.0,44178884.0,1.34,18.52,4.32,-0.82
1,Angola,1246700.0,1246700.0,0.0,34795287.0,3.36,41.80,8.01,-0.19
2,Benin,112622.0,110622.0,2000.0,13754688.0,3.34,41.15,8.01,0.24
3,Botswana,581730.0,566730.0,15000.0,2384246.0,1.40,20.28,9.05,2.81
4,Burkina Faso,274200.0,273800.0,400.0,21935389.0,2.53,33.57,7.71,-0.61

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               261 non-null    object
 1   area               253 non-null    float64
 2   area_land          250 non-null    float64
 3   area_water         247 non-null    float64
 4   population         237 non-null    float64
 5   population_growth  235 non-null    float64
 6   birth_rate         228 non-null    float64
 7   death_rate         230 non-null    float64
 8   migration_rate     229 non-null    float64
dtypes: float64(8), object(1)
memory usage: 18.5+ KB

In [ ]:
df.isnull().sum()

name                  0
area                  8
area_land            11
area_water           14
population           24
population_growth    26
birth_rate           33
death_rate           31
migration_rate       32
dtype: int64

In [ ]:
df_new = df

In [ ]:
df_new.loc[df_new['area_land']/df_new['area'] > 100000, 'area'] = df_new.loc[df_new['area_land']/df_new['area'] > 100000]['area']*1000000

In [ ]:
df_new

,name,area,area_land,area_water,population,population_growth,birth_rate,death_rate,migration_rate
0,Algeria,2381740.0,2381740.0,0.0,4.417888e+07,1.34,18.52,4.32,-0.82
1,Angola,1246700.0,1246700.0,0.0,3.479529e+07,3.36,41.80,8.01,-0.19
2,Benin,112622.0,110622.0,2000.0,1.375469e+07,3.34,41.15,8.01,0.24
3,Botswana,581730.0,566730.0,15000.0,2.384246e+06,1.40,20.28,9.05,2.81
4,Burkina Faso,274200.0,273800.0,400.0,2.193539e+07,2.53,33.57,7.71,-0.61
...,...,...,...,...,...,...,...,...,...
256,India,3287263.0,2973193.0,314070.0,1.389637e+09,0.67,16.82,10.30,0.16
257,Maldives,298.0,298.0,0.0,3.901640e+05,-0.14,15.54,4.15,-12.78
258,Nepal,147181.0,143351.0,3830.0,3.066660e+07,0.78,17.53,5.58,-4.21
259,Pakistan,796095.0,770875.0,25220.0,2.429238e+08,1.95,26.48,6.02,-0.96
260,Sri Lanka,65610.0,64630.0,980.0,2.318752e+07,0.61,13.80,6.49,-1.22

In [ ]:
df_new.to_csv('Factbook.csv')

In [ ]:
conn = sqlite3.connect('factbook.db')
c = conn.cursor()

In [ ]:
c.execute('CREATE TABLE IF NOT EXISTS factbook (name text, area number,	area_land	number, area_water	number,	population	number,	population_growth	number,	birth_rate	number,	death_rate	number,	migration_rate	number)')
conn.commit()

In [ ]:
df_new.to_sql('factbook', conn, if_exists='replace', index = False)

In [ ]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

In [ ]:
%%sql

SELECT *
  FROM sqlite_master
 WHERE type='table';

 * sqlite:///factbook.db
Done.

[('table', 'factbook', 'factbook', 2, 'CREATE TABLE "factbook" (\n"name" TEXT,\n  "area" REAL,\n  "area_land" REAL,\n  "area_water" REAL,\n  "population" REAL,\n  "population_growth" REAL,\n  "birth_rate" REAL,\n  "death_rate" REAL,\n  "migration_rate" REAL\n)')]

In [ ]:
%%sql
SELECT *
FROM factbook

 * sqlite:///factbook.db
Done.

[('Algeria', 2381740.0, 2381740.0, 0.0, 44178884.0, 1.34, 18.52, 4.32, -0.82),
 ('Angola', 1246700.0, 1246700.0, 0.0, 34795287.0, 3.36, 41.8, 8.01, -0.19),
 ('Benin', 112622.0, 110622.0, 2000.0, 13754688.0, 3.34, 41.15, 8.01, 0.24),
 ('Botswana', 581730.0, 566730.0, 15000.0, 2384246.0, 1.4, 20.28, 9.05, 2.81),
 ('Burkina Faso', 274200.0, 273800.0, 400.0, 21935389.0, 2.53, 33.57, 7.71, -0.61),
 ('Burundi', 27830.0, 25680.0, 2150.0, 12696478.0, 3.63, 35.17, 5.96, 7.09),
 ('Cabo Verde', 4033.0, 4033.0, 0.0, 596707.0, 1.21, 18.49, 5.8, -0.57),
 ('Cameroon', 475440.0, 472710.0, 2730.0, 29321637.0, 2.75, 35.53, 7.73, -0.31),
 ('Central African Republic', 622984.0, 622984.0, 0.0, 5454533.0, 1.78, 32.79, 11.76, -3.22),
 ('Chad', 1284000.0, 1259200.0, 24800.0, 17963211.0, 3.09, 40.45, 9.45, -0.13),
 ('Comoros', 2235.0, 2235.0, 0.0, 876437.0, 1.37, 22.52, 6.55, -2.25),
 ('Congo, Democratic Republic of the', 2344858.0, 2267048.0, 77810.0, 108407721.0, 3.14, 40.08, 7.94, -0.71),
 ('Congo, Republic of the', 342000.0, 341500.0, 500.0, 5546307.0, 2.34, 31.82, 8.38, 0.0),
 ('Cote dâ\x80\x99Ivoire', 322463.0, 318003.0, 4460.0, 28713423.0, 2.19, 28.3, 7.6, 1.18),
 ('Djibouti', 23200.0, 23180.0, 20.0, 957273.0, 1.97, 22.25, 7.12, 4.59),
 ('Egypt', 1001450.0, 995450.0, 6000.0, 107770524.0, 1.68, 21.46, 4.32, -0.31),
 ('Equatorial Guinea', 28051.0, 28051.0, 0.0, 1679172.0, 3.5, 29.95, 8.95, 13.96),
 ('Eritrea', 117600.0, 101000.0, 16600.0, 6209262.0, 1.03, 27.04, 6.69, -10.11),
 ('Eswatini', 17364.0, 17204.0, 160.0, 1121761.0, 0.75, 23.35, 9.71, -6.16),
 ('Ethiopia', 1104300.0, 1096570.0, 7730.0, 113656596.0, 2.46, 30.49, 5.7, -0.19),
 ('Gabon', 267667.0, 257667.0, 10000.0, 2340613.0, 2.4, 26.03, 5.67, 3.67),
 ('Gambia, The', 11300.0, 10120.0, 1180.0, 2413403.0, 2.29, 28.78, 5.81, -0.04),
 ('Ghana', 238533.0, 227533.0, 11000.0, 33107275.0, 2.23, 28.55, 6.14, -0.16),
 ('Guinea', 245857.0, 245717.0, 140.0, 13237832.0, 2.76, 35.67, 8.12, 0.0),
 ('Guinea-Bissau', 36125.0, 28120.0, 8005.0, 2026778.0, 2.53, 36.45, 7.5, -3.63),
 ('Kenya', 580367.0, 569140.0, 11227.0, 55864655.0, 2.12, 26.39, 5.01, -0.19),
 ('Lesotho', 30355.0, 30355.0, 0.0, 2193970.0, 0.76, 23.15, 11.05, -4.55),
 ('Liberia', 111369.0, 96320.0, 15049.0, 5358483.0, 2.73, 36.64, 6.62, -2.74),
 ('Libya', 1759540.0, 1759540.0, 0.0, 7137931.0, 1.65, 21.56, 3.45, -1.61),
 ('Madagascar', 587041.0, 581540.0, 5501.0, 28172462.0, 2.27, 28.68, 6.0, 0.0),
 ('Malawi', 118484.0, 94080.0, 24404.0, 20794353.0, 2.34, 27.94, 4.58, 0.0),
 ('Mali', 1240192.0, 1220190.0, 20002.0, 20741769.0, 2.95, 41.07, 8.53, -3.08),
 ('Mauritania', 1030700.0, 1030700.0, 0.0, 4161925.0, 1.99, 28.06, 7.43, -0.72),
 ('Mauritius', 2040.0, 2030.0, 10.0, 1308222.0, 0.1, 9.86, 8.86, 0.0),
 ('Morocco', 716550.0, 716300.0, 250.0, 36738229.0, 0.91, 17.42, 6.6, -1.74),
 ('Mozambique', 799380.0, 786380.0, 13000.0, 31693239.0, 2.56, 37.47, 10.25, -1.58),
 ('Namibia', 824292.0, 823290.0, 1002.0, 2727409.0, 1.82, 25.01, 6.85, 0.0),
 ('Niger', 1267000.0, 1266700.0, 300.0, 24484587.0, 3.66, 47.08, 9.87, -0.64),
 ('Nigeria', 923768.0, 910768.0, 13000.0, 225082083.0, 2.53, 34.19, 8.7, -0.21),
 ('Rwanda', 26338.0, 24668.0, 1670.0, 13173730.0, 1.74, 26.44, 5.86, -3.21),
 ('Saint Helena, Ascension, and Tristan da Cunha', 394.0, 122.0, 0.0, 7925.0, 0.13, 9.34, 8.08, 0.0),
 ('Sao Tome and Principe', 964.0, 964.0, 0.0, 217164.0, 1.48, 28.19, 6.2, -7.19),
 ('Senegal', 196722.0, 192530.0, 4192.0, 17923036.0, 2.57, 31.51, 5.08, -0.71),
 ('Seychelles', 455.0, 455.0, 0.0, 97017.0, 0.64, 12.37, 6.88, 0.86),
 ('Sierra Leone', 71740.0, 71620.0, 120.0, 8692606.0, 2.49, 32.2, 9.32, 2.03),
 ('Somalia', 637657.0, 627337.0, 10320.0, 12386248.0, 2.42, 37.98, 11.62, -2.18),
 ('South Africa', 1219090.0, 1214470.0, 4620.0, 57516665.0, 0.93, 18.56, 9.26, 0.0),
 ('South Sudan', 644329.0, None, None, 11544905.0, 4.91, 37.69, 9.52, 20.97),
 ('Sudan', 1861484.0, 1731671.0, 129813.0, 47958856.0, 2.55, 33.47, 6.3, -1.67),
 ('Tanzania', 947300.0, 885800.0, 61500.0, 63852892.0, 2.78, 33.3, 5.09, -0.41),
 ('Togo', 56785.0, 54385.0, 2400.0, 8492333.0, 2.48, 31.86, 5.27, -1.81),
 ('Tunisia', 163610.0, 155360.0, 8250.0, 11896972.0, 0.69, 14.62, 6.36, -1.33),
 ('Uganda', 241038.0, 197100.0, 43938.0, 46205893.0, 3.27, 40.94, 5.02, -3.26),
 ('Zambia', 752618.0, 743398.0, 9220.0, 19642123.0, 2.9, 34.86, 6.12, 0.24),
 ('Zimbabwe', 390757.0, 386847.0, 3910.0, 15121004.0, 1.95, 33.07, 8.76, -4.83),
 ('Antarctica', 14.2, 14.2, 13.915, None, None, None, None, None),
 ('Bouvet Island', 49.0, 49.0, 0.0, None, None, None, None, None),
 ('French Southern and Antarctic Lands', 55.0, 55.0, 0.0, None, None, None, None, None),
 ('Heard Island and McDonald Islands', 412.0, 412.0, 0.0, None, None, None, None, None),
 ('American Samoa', 224.0, 224.0, 0.0, 45443.0, -1.92, 16.7, 6.1, -29.8),
 ('Ashmore and Cartier Islands', 5.0, 5.0, 0.0, None, None, None, None, None),
 ('Australia', 7741220.0, 7682300.0, 58920.0, 26141369.0, 1.25, 12.3, 6.77, 6.93),
 ('Baker Island', None, None, None, None, None, None, None, None),
 ('Christmas Island', 135.0, 135.0, 0.0, 2205.0, 1.11, None, None, None),
 ('Cocos (Keeling) Islands', 14.0, 14.0, 0.0, 596.0, None, None, 8.89, None),
 ('Cook Islands', 236.0, 236.0, 0.0, 8128.0, -2.39, 12.55, 9.1, -27.31),
 ('Coral Sea Islands', 3.0, 3.0, 0.0, None, None, None, None, None),
 ('Fiji', 18274.0, 18274.0, 0.0, 943737.0, 0.44, 16.56, 6.37, -5.84),
 ('French Polynesia', 4167.0, 67.0, 3827.0, 299356.0, 0.73, 13.47, 5.59, -0.63),
 ('Guam', 544.0, 544.0, 0.0, 169086.0, 0.16, 18.56, 6.03, -10.96),
 ('Howland Island', None, None, None, None, None, None, None, None),
 ('Jarvis Island', None, None, None, None, None, None, None, None),
 ('Johnston Atoll', None, None, None, None, None, None, None, None),
 ('Kingman Reef', None, None, None, None, None, None, None, None),
 ('Kiribati', 811.0, 811.0, 0.0, 114189.0, 1.04, 20.12, 6.92, -2.8),
 ('Marshall Islands', 181.0, 181.0, 0.0, 79906.0, 1.34, 22.0, 4.28, -4.37),
 ('Micronesia, Federated States of', 702.0, 702.0, 0.0, 101009.0, -0.67, 18.39, 4.19, -20.91),
 ('Midway Islands', None, None, None, None, None, None, None, None),
 ('Nauru', 21.0, 21.0, 0.0, 9811.0, 0.42, 21.1, 6.32, -10.6),
 ('New Caledonia', 18575.0, 18275.0, 300.0, 297160.0, 1.19, 14.13, 5.88, 3.66),
 ('New Zealand', 268838.0, 264537.0, 4301.0, 5053004.0, 1.17, 12.78, 6.89, 5.83),
 ('Niue', 260.0, 260.0, 0.0, 2000.0, -0.03, None, None, None),
 ('Norfolk Island', 36.0, 36.0, 0.0, 1748.0, 0.01, None, None, None),
 ('Northern Mariana Islands', 464.0, 464.0, 0.0, 51475.0, -0.35, 15.5, 5.44, -13.6),
 ('Palau', 459.0, 459.0, 0.0, 21695.0, 0.39, 11.52, 8.25, 0.6),
 ('Palmyra Atoll', None, None, None, None, None, None, None, None),
 ('Pitcairn Islands', 47.0, 47.0, 0.0, 50.0, 0.0, None, None, None),
 ('Samoa', 2831.0, 2821.0, 10.0, 206179.0, 0.63, 19.21, 5.37, -7.51),
 ('Solomon Islands', 28896.0, 27986.0, 910.0, 702694.0, 1.72, 22.71, 3.96, -1.55),
 ('Tokelau', 12.0, 12.0, 0.0, 1647.0, -0.01, None, -3.84, None),
 ('Tonga', 747.0, 717.0, 30.0, 105517.0, -0.26, 20.31, 4.95, -18.01),
 ('Tuvalu', 26.0, 26.0, 0.0, 11544.0, 0.83, 22.7, 7.97, -6.41),
 ('United States Pacific Island Wildlife Refuges', 6959.41, 22.41, 6937.0, None, None, None, None, None),
 ('Vanuatu', 12189.0, 12189.0, 0.0, 308043.0, 1.63, 21.57, 3.98, -1.3),
 ('Wake Island', 7.0, 6.5, 0.0, None, None, None, None, None),
 ('Wallis and Futuna', 142.0, 142.0, 0.0, 15891.0, 0.25, 12.27, 5.79, -3.96),
 ('Anguilla', 91.0, 91.0, 0.0, 18741.0, 1.8, 12.01, 4.64, 10.67),
 ('Antigua and Barbuda', 443.0, 280.0, 161.0, 100335.0, 1.15, 15.16, 5.65, 2.03),
 ('Aruba', 180.0, 180.0, 0.0, 122320.0, 1.14, 11.82, 8.62, 8.18),
 ('Bahamas, The', 13880.0, 10010.0, 3870.0, 355608.0, 0.82, 14.64, 6.41, 0.0),
 ('Barbados', 430.0, 430.0, 0.0, 302674.0, 0.26, 10.83, 7.96, -0.29),
 ('Belize', 22966.0, 22806.0, 160.0, 412387.0, 1.64, 21.28, 3.94, -0.96),
 ('British Virgin Islands', 151.0, 151.0, 0.0, 38632.0, 1.91, 10.95, 5.38, 13.56),
 ('Cayman Islands', 264.0, 264.0, 0.0, 64309.0, 1.83, 11.69, 5.97, 12.56),
 ('Costa Rica', 51100.0, 51060.0, 40.0, 5204411.0, 1.01, 14.28, 4.91, 0.77),
 ('Cuba', 110860.0, 109820.0, 1040.0, 11008112.0, -0.21, 10.11, 9.29, -2.92),
 ('Curacao', 444.0, 444.0, 0.0, 152379.0, 0.32, 13.2, 8.71, -1.31),
 ('Dominica', 751.0, 751.0, None, 74629.0, 0.05, 13.91, 8.11, -5.31),
 ('Dominican Republic', 48670.0, 48320.0, 350.0, 10694700.0, 0.91, 18.03, 6.29, -2.68),
 ('El Salvador', 21041.0, 20721.0, 320.0, 6568745.0, 0.57, 17.87, 5.91, -6.29),
 ('Grenada', 344.0, 344.0, 0.0, 113949.0, 0.32, 13.94, 8.31, -2.43),
 ('Guatemala', 108889.0, 107159.0, 1730.0, 17703190.0, 1.58, 22.34, 4.91, -1.66),
 ('Haiti', 27750.0, 27560.0, 190.0, 11334637.0, 1.2, 21.12, 7.23, -1.88),
 ('Honduras', 112090.0, 111890.0, 200.0, 9459440.0, 1.19, 17.92, 4.68, -1.34),
 ('Jamaica', 10991.0, 10831.0, 160.0, 2818596.0, 0.08, 15.91, 7.43, -7.7),
 ('Montserrat', 102.0, 102.0, 0.0, 5414.0, 0.5, 10.9, 5.91, 0.0),
 ('Navassa Island', 5.0, 5.4, 0.0, None, None, None, None, None),
 ('Nicaragua', 130370.0, 119990.0, 10380.0, 6301880.0, 0.92, 16.52, 5.17, -2.15),
 ('Panama', 75420.0, 74340.0, 1080.0, 4337768.0, 1.53, 17.99, 6.11, 3.42),
 ('Puerto Rico', 9104.0, 8959.0, 145.0, 3098423.0, -1.38, 7.87, 9.76, -11.9),
 ('Saint Barthelemy', 25.0, 25.0, None, 7103.0, -0.16, 9.29, 9.01, -1.83),
 ('Saint Kitts and Nevis', 261.0, 168.0, 93.0, 54488.0, 0.61, 12.24, 7.27, 1.16),
 ('Saint Lucia', 616.0, 606.0, 10.0, 167122.0, 0.29, 12.02, 8.07, -1.09),
 ('Saint Martin', 50.0, 50.0, None, 32792.0, 0.33, 14.09, 4.64, -6.13),
 ('Saint Vincent and the Grenadines', 389.0, 344.0, 389.0, 100969.0, -0.17, 12.27, 7.49, -6.47),
 ('Sint Maarten', 34.0, 34.0, 0.0, 45126.0, 1.23, 12.56, 6.07, 5.83),
 ('Trinidad and Tobago', 5128.0, 5128.0, 0.0, 1405646.0, 0.14, 10.79, 8.38, -1.01),
 ('Turks and Caicos Islands', 948.0, 948.0, 0.0, 58286.0, 1.86, 13.54, 3.5, 8.58),
 ('Virgin Islands', 1910.0, 346.0, 1564.0, 105413.0, -0.45, 11.63, 8.78, -7.35),
 ('Kazakhstan', 2724900.0, 2699700.0, 25200.0, 19398331.0, 0.77, 15.38, 8.11, 0.39),
 ('Kyrgyzstan', 199951.0, 191801.0, 8150.0, 6071750.0, 0.86, 19.54, 6.12, -4.87),
 ('Russia', 17098242.0, 16377742.0, 720500.0, 142021981.0, -0.22, 9.45, 13.36, 1.7),
 ('Tajikistan', 144100.0, 141510.0, 2590.0, 9119347.0, 1.4, 20.73, 5.72, -1.03),
 ('Turkmenistan', 488100.0, 469930.0, 18170.0, 5636011.0, 0.99, 17.51, 5.95, -1.71),
 ('Uzbekistan', 447400.0, 425400.0, 22000.0, 31104937.0, 0.83, 15.53, 5.41, -1.78),
 ('Brunei', 5765.0, 5265.0, 500.0, 478054.0, 1.45, 16.14, 3.79, 2.18),
 ('Burma', 676578.0, 653508.0, 23070.0, 57526449.0, 0.78, 16.34, 7.13, -1.37),
 ('Cambodia', 181035.0, 176515.0, 4520.0, 16713015.0, 1.08, 19.29, 5.76, -2.7),
 ('China', 9596960.0, 9326410.0, 270550.0, 1410539758.0, 0.19, 9.93, 7.9, -0.11),
 ('Hong Kong', 1108.0, 1073.0, 35.0, 7276588.0, 0.17, 8.04, 7.98, 1.65),
 ('Indonesia', 1904569.0, 1811569.0, 93000.0, 277329163.0, 0.79, 15.32, 6.75, -0.71),
 ('Japan', 377915.0, 364485.0, 13430.0, 124214766.0, -0.39, 6.95, 11.59, 0.74),
 ('Korea, North', 120538.0, 120408.0, 130.0, 25955138.0, 0.46, 14.21, 9.53, -0.04),
 ('Korea, South', 99720.0, 96920.0, 2800.0, 51844834.0, 0.24, 6.92, 7.12, 2.63),
 ('Laos', 236800.0, 230800.0, 6000.0, 7749595.0, 1.34, 20.9, 6.37, -1.17),
 ('Macau', 28.0, 28.2, 0.0, 635293.0, 0.75, 9.11, 4.72, 3.15),
 ('Malaysia', 329847.0, 328657.0, 1190.0, 33871431.0, 1.03, 14.55, 5.69, 1.48),
 ('Mongolia', 1564116.0, 1553556.0, 10560.0, 3227863.0, 0.88, 15.84, 6.3, -0.77),
 ('Papua New Guinea', 462840.0, 452860.0, 9980.0, 9593498.0, 2.35, 29.03, 5.54, 0.0),
 ('Paracel Islands', 8.0, 7.75, 0.0, 1440.0, None, None, None, None),
 ('Philippines', 300000.0, 298170.0, 1830.0, 114597229.0, 1.6, 22.28, 6.41, 0.13),
 ('Singapore', 719.0, 709.2, 10.0, 5921231.0, 0.92, 9.05, 4.04, 4.22),
 ('Spratly Islands', 5.0, 5.0, 0.0, None, None, None, None, None),
 ('Taiwan', 35980.0, 32260.0, 3720.0, 23580712.0, 0.04, 7.39, 7.89, 0.85),
 ('Thailand', 513120.0, 510890.0, 2230.0, 69648117.0, 0.23, 10.14, 7.76, -0.13),
 ('Timor-Leste', 14874.0, 14874.0, 0.0, 1445006.0, 2.15, 30.94, 5.61, -3.82),
 ('Vietnam', 331210.0, 310070.0, 21140.0, 103808319.0, 0.97, 15.69, 5.77, -0.22),
 ('Akrotiri', 123.0, None, None, None, None, None, None, None),
 ('Albania', 28748.0, 27398.0, 1350.0, 3095344.0, 0.22, 12.69, 7.31, -3.23),
 ('Andorra', 468.0, 468.0, 0.0, 85560.0, -0.1, 6.88, 7.92, 0.0),
 ('Austria', 83871.0, 82445.0, 1426.0, 8913088.0, 0.32, 9.45, 9.85, 3.55),
 ('Belarus', 207600.0, 202900.0, 4700.0, 9413505.0, -0.31, 9.08, 12.88, 0.72),
 ('Belgium', 30528.0, 30278.0, 250.0, 11847338.0, 0.57, 10.95, 9.64, 4.38),
 ('Bosnia and Herzegovina', 51197.0, 51187.0, 10.0, 3816459.0, -0.22, 8.41, 10.26, -0.38),
 ('Bulgaria', 110879.0, 108489.0, 2390.0, 6873253.0, -0.67, 8.05, 14.41, -0.29),
 ('Croatia', 56594.0, 55974.0, 620.0, 4188853.0, -0.47, 8.65, 12.88, -0.5),
 ('Cyprus', 9251.0, 3355.0, 9241.0, 1295102.0, 1.06, 10.57, 6.94, 6.96),
 ('Czechia', 78867.0, 77247.0, 1620.0, 10705384.0, 0.02, 8.59, 10.74, 2.32),
 ('Denmark', 43094.0, 42434.0, 660.0, 5920767.0, 0.44, 11.22, 9.52, 2.73),
 ('Dhekelia', 131.0, None, None, None, None, None, None, None),
 ('Estonia', 45228.0, 42388.0, 2840.0, 1211524.0, -0.71, 8.75, 13.1, -2.79),
 ('European Union', None, None, None, None, None, None, None, -2.85),
 ('Faroe Islands', 1393.0, 1393.0, 0.0, 52269.0, 0.63, 14.94, 8.63, 0.0),
 ('Finland', 338145.0, 303815.0, 34330.0, 5601547.0, 0.24, 10.42, 10.35, 2.35),
 ('France', 643801.0, 551500.0, 640427.0, 68305148.0, 0.32, 11.66, 9.54, 1.06),
 ('Germany', 357022.0, 348672.0, 8350.0, 84316622.0, -0.11, 9.08, 11.98, 1.78),
 ('Gibraltar', 7.0, 6.5, 0.0, 29573.0, 0.19, 13.93, 8.76, -3.25),
 ('Greece', 131957.0, 130647.0, 1310.0, 10533871.0, -0.34, 7.61, 12.04, 1.0),
 ('Guernsey', 78.0, 78.0, 0.0, 67491.0, 0.23, 9.75, 9.17, 1.7),
 ('Holy See (Vatican City)', 0.0, 0.44, 0.0, 1000.0, 0.0, None, None, None),
 ('Hungary', 93028.0, 89608.0, 3420.0, 9699577.0, -0.3, 8.65, 12.88, 1.23),
 ('Iceland', 103000.0, 100250.0, 2750.0, 357603.0, 0.93, 12.96, 6.56, 2.89),
 ('Ireland', 70273.0, 68883.0, 1390.0, 5275004.0, 0.94, 12.32, 6.73, 3.79),
 ('Isle of Man', 572.0, 572.0, 0.0, 91382.0, 0.52, 10.58, 10.18, 4.76),
 ('Italy', 301340.0, 294140.0, 7200.0, 61095551.0, -0.13, 6.95, 11.31, 3.02),
 ('Jan Mayen', 377.0, 377.0, 0.0, None, None, None, None, None),
 ('Jersey', 116.0, 116.0, 0.0, 102146.0, 0.64, 12.41, 7.75, 1.76),
 ('Kosovo', 10887.0, 10887.0, 0.0, 1952701.0, 0.57, 14.85, 8.12, -1.07),
 ('Latvia', 64589.0, 62249.0, 2340.0, 1842226.0, -1.11, 8.73, 14.65, -5.19),
 ('Liechtenstein', 160.0, 160.0, 0.0, 39711.0, 0.72, 10.32, 7.98, 4.81),
 ('Lithuania', 65300.0, 62680.0, 2620.0, 2683546.0, -1.04, 9.26, 15.12, -4.54),
 ('Luxembourg', 2586.0, 2586.0, 0.0, 650364.0, 1.64, 11.61, 7.21, 12.01),
 ('Malta', 316.0, 316.0, 0.0, 464186.0, 0.67, 9.73, 8.48, 5.49),
 ('Moldova', 33851.0, 32891.0, 960.0, 3287326.0, -1.12, 10.19, 12.47, -8.87),
 ('Monaco', 2.0, 2.0, 0.0, 31400.0, 0.6, 6.66, 10.7, 10.03),
 ('Montenegro', 13812.0, 13452.0, 360.0, 604966.0, -0.41, 11.19, 10.33, -4.97),
 ('Netherlands', 41543.0, 33893.0, 7650.0, 17400824.0, 0.36, 10.99, 9.24, 1.9),
 ('North Macedonia', 25713.0, 25433.0, 280.0, 2130936.0, 0.12, 10.45, 9.61, 0.38),
 ('Norway', 323802.0, 304282.0, 19520.0, 5553840.0, 0.8, 12.0, 7.96, 3.92),
 ('Poland', 312685.0, 304255.0, 8430.0, 38093101.0, -0.26, 8.5, 10.71, -0.33),
 ('Portugal', 92090.0, 91470.0, 620.0, 10242081.0, -0.2, 8.0, 10.9, 0.91),
 ('Romania', 238391.0, 229891.0, 8500.0, 18519899.0, -1.09, 8.76, 15.26, -4.36),
 ('San Marino', 61.0, 61.0, 0.0, 34682.0, 0.61, 8.85, 8.82, 6.11),
 ('Serbia', 77474.0, 77474.0, 0.0, 6739471.0, -0.75, 8.92, 16.39, 0.0),
 ('Slovakia', 49035.0, 48105.0, 930.0, 5431252.0, -0.1, 8.94, 10.13, 0.2),
 ('Slovenia', 20273.0, 20151.0, 122.0, 2101208.0, -0.06, 8.3, 10.4, 1.54),
 ('Spain', 505370.0, 498980.0, 6390.0, 47163418.0, 0.13, 7.13, 10.22, 4.35),
 ('Svalbard', 62045.0, 62045.0, 0.0, 2926.0, -0.03, None, None, -5.57),
 ('Sweden', 450295.0, 410335.0, 39960.0, 10483647.0, 0.5, 10.83, 9.46, 3.6),
 ('Switzerland', 41277.0, 39997.0, 1280.0, 8508698.0, 0.65, 10.36, 8.4, 4.52),
 ('Ukraine', 603550.0, 579330.0, 24220.0, 43528136.0, -0.5, 9.0, 13.77, -0.26),
 ('United Kingdom', 243610.0, 241930.0, 1680.0, 67791400.0, 0.53, 10.79, 9.07, 3.59),
 ('Armenia', 29743.0, 28203.0, 1540.0, 3000756.0, -0.38, 11.1, 9.51, -5.36),
 ('Azerbaijan', 86600.0, 82629.0, 3971.0, 10353296.0, 0.67, 13.59, 6.92, 0.0),
 ('Bahrain', 760.0, 760.0, 0.0, 1540558.0, 0.88, 12.4, 2.82, -0.82),
 ('Gaza Strip', 360.0, 360.0, 0.0, 1997328.0, 2.02, 27.67, 2.91, -4.55),
 ('Georgia', 69700.0, 69700.0, 0.0, 4935518.0, 0.03, 11.0, 10.8, 0.06),
 ('Iran', 1648195.0, 1531595.0, 116600.0, 86758304.0, 0.98, 15.27, 5.17, -0.3),
 ('Iraq', 438317.0, 437367.0, 950.0, 40462701.0, 2.0, 24.7, 3.9, -0.83),
 ('Israel', 21937.0, 21497.0, 440.0, 8914885.0, 1.44, 17.41, 5.05, 2.02),
 ('Jordan', 89342.0, 88802.0, 540.0, 10998531.0, 0.81, 22.58, 3.45, -11.08),
 ('Kuwait', 17818.0, 17818.0, 0.0, 3068155.0, 1.17, 17.78, 2.25, -3.87),
 ('Lebanon', 10400.0, 10230.0, 170.0, 5296814.0, 0.66, 13.1, 5.57, -0.94),
 ('Oman', 309500.0, 309500.0, 0.0, 3764348.0, 1.84, 22.11, 3.23, -0.45),
 ('Qatar', 11586.0, 11586.0, 0.0, 2508182.0, 1.04, 9.33, 1.42, 2.45),
 ('Saudi Arabia', 2149690.0, 2149690.0, 0.0, 35354380.0, 1.63, 14.22, 3.42, 5.52),
 ('Syria', 187437.0, 185887.0, 1550.0, 21563800.0, 5.91, 22.72, 4.22, 40.58),
 ('Turkey (Turkiye)', 783562.0, 769632.0, 13930.0, 83047706.0, 0.67, 14.28, 6.05, -1.54),
 ('United Arab Emirates', 83600.0, 83600.0, 0.0, 9915803.0, 0.58, 10.81, 1.56, -3.45),
 ('West Bank', 5860.0, 5640.0, 220.0, 3000021.0, 1.69, 24.42, 3.4, -4.09),
 ('Yemen', 527968.0, 527968.0, 0.0, 30984689.0, 1.88, 24.64, 5.62, -0.19),
 ('Bermuda', 54.0, 54.0, 0.0, 72337.0, 0.34, 11.03, 9.11, 1.49),
 ('Canada', 9984670.0, 9093507.0, 891163.0, 38232593.0, 0.75, 10.17, 8.12, 5.46),
 ('Clipperton Island', 6.0, 6.0, 0.0, None, None, None, None, None),
 ('Greenland', 2166086.0, 2166086.0, 1710000.0, 57792.0, -0.02, 13.79, 8.96, -5.0),
 ('Mexico', 1964375.0, 1943945.0, 20430.0, 129150971.0, 0.51, 13.55, 7.71, -0.76),
 ('Saint Pierre and Miquelon', 242.0, 242.0, 0.0, 5257.0, -1.2, 6.47, 11.22, -7.23),
 ('United States', 9833517.0, 9147593.0, 685924.0, 337341954.0, 0.69, 12.28, 8.38, 3.02),
 ('Argentina', 2780400.0, 2736690.0, 43710.0, 46245668.0, 0.82, 15.58, 7.32, -0.08),
 ('Bolivia', 1098581.0, 1083301.0, 15280.0, 12054379.0, 1.12, 18.61, 6.48, -0.98),
 ('Brazil', 8515770.0, 8358140.0, 157630.0, 217240060.0, 0.7, 13.96, 6.81, -0.19),
 ('Chile', 756102.0, 743812.0, 12290.0, 18430408.0, 0.66, 12.75, 6.52, 0.33),
 ('Colombia', 1138910.0, 1038700.0, 100210.0, 49059221.0, 0.59, 15.21, 7.73, -1.58),
 ('Ecuador', 283561.0, 276841.0, 6720.0, 17289554.0, 1.13, 16.45, 5.17, 0.0),
 ('Falkland Islands (Islas Malvinas)', 12173.0, 12173.0, 0.0, 3198.0, 0.01, 10.9, 4.9, None),
 ('Guyana', 214969.0, 196849.0, 18120.0, 789683.0, 0.24, 16.72, 6.91, -7.42),
 ('Paraguay', 406752.0, 397302.0, 9450.0, 7356409.0, 1.14, 16.32, 4.87, -0.07),
 ('Peru', 1285216.0, 1279996.0, 5220.0, 32275736.0, 0.51, 17.21, 11.32, -0.75),
 ('South Georgia and South Sandwich Islands', 3903.0, 3903.0, 0.0, None, None, None, None, None),
 ('Suriname', 163820.0, 156000.0, 7820.0, 632638.0, 1.13, 15.38, 6.59, 2.54),
 ('Uruguay', 176215.0, 175015.0, 1200.0, 3407213.0, 0.27, 12.71, 9.18, -0.88),
 ('Venezuela', 912050.0, 882050.0, 30000.0, 29789730.0, 2.43, 17.27, 6.81, 13.88),
 ('Afghanistan', 652230.0, 652230.0, 0.0, 38346720.0, 2.3, 35.46, 12.33, -0.1),
 ('Bangladesh', 148460.0, 130170.0, 18290.0, 165650475.0, 0.93, 17.69, 5.47, -2.9),
 ('Bhutan', 38394.0, 38394.0, 0.0, 867775.0, 0.97, 15.94, 6.22, 0.0),
 ('British Indian Ocean Territory', 60.0, 60.0, 54340.0, None, None, None, None, None),
 ('India', 3287263.0, 2973193.0, 314070.0, 1389637446.0, 0.67, 16.82, 10.3, 0.16),
 ('Maldives', 298.0, 298.0, 0.0, 390164.0, -0.14, 15.54, 4.15, -12.78),

In [ ]:
%%sql
SELECT MIN(population) AS min_pop,
       MAX(population) AS max_pop,
       MIN(population_growth) AS min_pop_growth,
       MAX(population_growth) max_pop_growth 
  FROM factbook;

 * sqlite:///factbook.db
Done.

[(50.0, 1410539758.0, -2.39, 5.91)]

In [ ]:
%%sql
SELECT *
  FROM factbook
 WHERE population == (SELECT MIN(population)
                        FROM factbook
                     );

 * sqlite:///factbook.db
Done.

[('Pitcairn Islands', 47.0, 47.0, 0.0, 50.0, 0.0, None, None, None)]

In [ ]:
%%sql
SELECT *
  FROM factbook
 WHERE population == (SELECT MAX(population)
                        FROM factbook
                     );

 * sqlite:///factbook.db
Done.

[('China', 9596960.0, 9326410.0, 270550.0, 1410539758.0, 0.19, 9.93, 7.9, -0.11)]

In [ ]:
%%sql
SELECT name, area, population
  FROM factbook ORDER BY population/area DESC
  LIMIT 10

 * sqlite:///factbook.db
Done.

[('Macau', 28.0, 635293.0),
 ('Monaco', 2.0, 31400.0),
 ('Singapore', 719.0, 5921231.0),
 ('Hong Kong', 1108.0, 7276588.0),
 ('Gaza Strip', 360.0, 1997328.0),
 ('Gibraltar', 7.0, 29573.0),
 ('Bahrain', 760.0, 1540558.0),
 ('Malta', 316.0, 464186.0),
 ('Bermuda', 54.0, 72337.0),
 ('Sint Maarten', 34.0, 45126.0)]

In [ ]:
%%sql
SELECT name, population
  FROM factbook ORDER BY population DESC
  LIMIT 10

 * sqlite:///factbook.db
Done.

[('China', 1410539758.0),
 ('India', 1389637446.0),
 ('United States', 337341954.0),
 ('Indonesia', 277329163.0),
 ('Pakistan', 242923845.0),
 ('Nigeria', 225082083.0),
 ('Brazil', 217240060.0),
 ('Bangladesh', 165650475.0),
 ('Russia', 142021981.0),
 ('Mexico', 129150971.0)]

In [ ]:
%%sql
SELECT name, population
 FROM factbook WHERE population IS NOT NULL ORDER BY population ASC
 LIMIT 10

 * sqlite:///factbook.db
Done.

[('Pitcairn Islands', 50.0),
 ('Cocos (Keeling) Islands', 596.0),
 ('Holy See (Vatican City)', 1000.0),
 ('Paracel Islands', 1440.0),
 ('Tokelau', 1647.0),
 ('Norfolk Island', 1748.0),
 ('Niue', 2000.0),
 ('Christmas Island', 2205.0),
 ('Svalbard', 2926.0),
 ('Falkland Islands (Islas Malvinas)', 3198.0)]

In [ ]:
%%sql
SELECT name, population/area as people_per_sq_km
  FROM factbook WHERE population IS NOT NULL AND area > 0 ORDER BY population/area ASC
  LIMIT 10

 * sqlite:///factbook.db
Done.

[('Greenland', 0.026680381111368615),
 ('Svalbard', 0.047159319848497055),
 ('Falkland Islands (Islas Malvinas)', 0.262712560584901),
 ('Pitcairn Islands', 1.0638297872340425),
 ('Mongolia', 2.063697961020794),
 ('Namibia', 3.3087898463165963),
 ('Australia', 3.376905578190518),
 ('Iceland', 3.471873786407767),
 ('Guyana', 3.6734738497178663),
 ('Canada', 3.8291293553016774)]

In [ ]:
%%sql
SELECT name, migration_rate
  FROM factbook WHERE migration_rate IS NOT NULL
  ORDER BY migration_rate ASC
  LIMIT 10

 * sqlite:///factbook.db
Done.

[('American Samoa', -29.8),
 ('Cook Islands', -27.31),
 ('Micronesia, Federated States of', -20.91),
 ('Tonga', -18.01),
 ('Northern Mariana Islands', -13.6),
 ('Maldives', -12.78),
 ('Puerto Rico', -11.9),
 ('Jordan', -11.08),
 ('Guam', -10.96),
 ('Nauru', -10.6)]

In [ ]:
%%sql
SELECT name, migration_rate
  FROM factbook WHERE migration_rate IS NOT NULL
  ORDER BY migration_rate DESC
  LIMIT 10

 * sqlite:///factbook.db
Done.

[('Syria', 40.58),
 ('South Sudan', 20.97),
 ('Equatorial Guinea', 13.96),
 ('Venezuela', 13.88),
 ('British Virgin Islands', 13.56),
 ('Cayman Islands', 12.56),
 ('Luxembourg', 12.01),
 ('Anguilla', 10.67),
 ('Monaco', 10.03),
 ('Turks and Caicos Islands', 8.58)]

In [ ]:
%%sql
SELECT name, birth_rate
  FROM factbook WHERE birth_rate IS NOT NULL
  ORDER BY birth_rate DESC
  LIMIT 10

 * sqlite:///factbook.db
Done.

[('Niger', 47.08),
 ('Angola', 41.8),
 ('Benin', 41.15),
 ('Mali', 41.07),
 ('Uganda', 40.94),
 ('Chad', 40.45),
 ('Congo, Democratic Republic of the', 40.08),
 ('Somalia', 37.98),
 ('South Sudan', 37.69),
 ('Mozambique', 37.47)]

In [ ]:
%%sql
SELECT name, birth_rate
  FROM factbook WHERE birth_rate IS NOT NULL
  ORDER BY birth_rate ASC
  LIMIT 10

 * sqlite:///factbook.db
Done.

[('Saint Pierre and Miquelon', 6.47),
 ('Monaco', 6.66),
 ('Andorra', 6.88),
 ('Korea, South', 6.92),
 ('Japan', 6.95),
 ('Italy', 6.95),
 ('Spain', 7.13),
 ('Taiwan', 7.39),
 ('Greece', 7.61),
 ('Puerto Rico', 7.87)]

In [ ]:
%%sql
SELECT name, death_rate
  FROM factbook WHERE death_rate IS NOT NULL
  ORDER BY death_rate DESC
  LIMIT 10

 * sqlite:///factbook.db
Done.

[('Serbia', 16.39),
 ('Romania', 15.26),
 ('Lithuania', 15.12),
 ('Latvia', 14.65),
 ('Bulgaria', 14.41),
 ('Ukraine', 13.77),
 ('Russia', 13.36),
 ('Estonia', 13.1),
 ('Belarus', 12.88),
 ('Croatia', 12.88)]

In [ ]:
%%sql
SELECT name, death_rate
  FROM factbook WHERE death_rate IS NOT NULL
  ORDER BY death_rate ASC
  LIMIT 10

 * sqlite:///factbook.db
Done.

[('Tokelau', -3.84),
 ('Qatar', 1.42),
 ('United Arab Emirates', 1.56),
 ('Kuwait', 2.25),
 ('Bahrain', 2.82),
 ('Gaza Strip', 2.91),
 ('Oman', 3.23),
 ('West Bank', 3.4),
 ('Saudi Arabia', 3.42),
 ('Libya', 3.45)]